:root{
    --color-ball: #f1f1f1;
    --bg-label: #111;
    --bg: #F1F1F1;
}

body.dark{
    --color-ball: #22272E;
    --bg-label: #9DA7B2;
    --bg: #22272E;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg);
}

input[type="checkbox"]{
    opacity: 0;
    position: absolute;
}

label{
    background-color: var(--bg-label);
    border-radius: 50px;
    width: 90px;
    height: 42px;
    padding: 5px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transform: scale(1.5);
}

.ball{
    position: absolute;
    background-color: var(--color-ball);
    width: 30px;
    height: 30px;
    border-radius: 50%;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

input[type="checkbox"]:checked + label .ball{
    transform: translateX(50px);
}