@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
      --light-grey: #dce4e3;
    --text-color: #084236;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    gap: 25px;

    background-color: var(--body-bg-color);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

/*Title*/

h1{
    margin-top: 18px;
}

h1, p{
    color: var(--text-color);
    font-weight: 400;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

/*Sidebar*/


nav{
    height: 100%;
    background-color: var(--green);

    display: flex;
    flex-direction: column;
    gap: 30px;
}

nav .search > label{
    background-color: var(--light-green);

    padding: 14px;
    border-radius: 12px;
}

nav .iconMenu{
    cursor: pointer;
}

nav footer{
    position: fixed;
    bottom: 0;

    background-color: var(--light-green);
}

nav footer .log-out{
    cursor: pointer;
}


/*Sidebar Open*/

.open{
    width: 250px;
}

.open div:not(footer div, .search), header, footer, .search > label{
    display: flex;
    gap: 25px;
    align-items: center;
}

.open div:not(.open footer div){
    margin: 0 20px;
}

.open header{
    margin: 30px 14px 0px 14px;
    justify-content: space-between;
}

.open .search > label{
    margin-top: 10px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.open .search input{
    border: none;
    background-color: transparent;
}

.open .search input::placeholder{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
}

.open .search input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.open footer{
    width: 250px;
    height: 60px;
    padding: 14px;

    flex-direction: row;
    justify-content: space-between;
}

.open footer .profile{
    display: flex;
    gap: 9px;
}

.open footer .profile .name{
    font-weight: 400;
    font-size: 15px;
}

.open footer .profile .occupation{
    font-size: 12px;
    text-transform: capitalize;
}

.open footer .profile img{
    width: 45px;
    border-radius: 12px;
}

/*Sidebar Close*/

.close{
    align-items: center;
    width: 78px;
}

.close p, .close header .logo, .close .search input, .close footer .profile{
    display: none;
}

.close div{
    display: flex;
}

.close header{
    margin-top: 30px;
}

.close .search{
    width: 50px;
}

.close footer{
    width: 78px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

@media(max-width: 654px){

    body{
        flex-direction: column;
        gap: 18px;
        width: 100vw;
    }

    h1{
        margin: 0 18px;
    }

    .open ~ h1{
        display: none;
    }

    .open{
        width: 100%;
        height: 100%;

        justify-content: space-around;
        gap: 0;
    }

    .open header{
        margin-top: 0;
    }

    .open .search{
        align-self: center;
    }

    .open .search > label{
        margin-top: 0;
        width: 350px;
    }

    .open footer{
        position: absolute;
        width: 100vw;
    }

    .close{
        height: 78px;
        width: 100%;
    }

    .close div:not(header .iconMenu), .close footer{
        display: none;
    }
}

@media(max-width: 400px){
    .open .search > label{
        width: 250px;
    }
}